@font-face {
  font-family: "iconfont"; /* Project id 2519454 */
  src: url('iconfont.woff2?t=1620266186190') format('woff2'),
       url('iconfont.woff?t=1620266186190') format('woff'),
       url('iconfont.ttf?t=1620266186190') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icontiaojian:before {
  content: "\e637";
}

.icon64:before {
  content: "\e636";
}

.iconqiyerencaiku_hua:before {
  content: "\e635";
}

.iconjindujihuaguanli:before {
  content: "\e634";
}

.iconyiyishouli:before {
  content: "\e633";
}

.iconxiazai2:before {
  content: "\e632";
}

.iconwoyaorongzi1:before {
  content: "\e631";
}

.iconhulve:before {
  content: "\e630";
}

.iconbianji2:before {
  content: "\e62f";
}

.iconshanchu2:before {
  content: "\e62b";
}

.iconchakan1:before {
  content: "\e62a";
}

.iconsuqiu_huaban1:before {
  content: "\e628";
}

.iconjianyi_huaban1:before {
  content: "\e629";
}

.iconzixun_huaban1:before {
  content: "\e626";
}

.icontousu_huaban1:before {
  content: "\e627";
}

.iconrili:before {
  content: "\e625";
}

.icondizhi1:before {
  content: "\e624";
}

.iconduixianjilu-01:before {
  content: "\e622";
}

.iconduixian-01:before {
  content: "\e623";
}

.iconmima-01:before {
  content: "\e621";
}

.iconyonghuming-01:before {
  content: "\e620";
}

.iconzhengwufuwu_huaban1:before {
  content: "\e61f";
}

.iconqinqingduihua_huaban1:before {
  content: "\e61e";
}

.iconzhengceduixian_huaban1:before {
  content: "\e61d";
}

.iconziyuanzhongxin_huaban1:before {
  content: "\e61c";
}

